.graphTitle{
    text-align: center;
    font-style: italic;

}


.dashboardGraphs {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    width: 100%;
    height: 100%;
}

.covidEDGraph {
    grid-row: 1 / auto;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px dashed;
}

.covidAdmitGraph {
    grid-row: 1 / auto;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 1px dashed;
}

.covidInptGraph {
    grid-row: 1 / auto;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 1px dashed;
}

.lineGraph {
    grid-row-start: 2 / auto;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 1px dashed;
}
